* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #464848;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 230px;
  height: auto;
  margin-top: 7px;
  margin-bottom: 8px;
  border-radius: 6px;
  background-color: #2c2a2a;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
h4 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 5px;
}

#city-input {
  background-color: #353434;
  color: white;
  width: 135px;
  height: 33px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin-right: 3px;
}
#get-weather-btn {
  width: 65px;
  height: 32px;
  margin-right: 2px;
  border: none;
  border-radius: 5px;
  background-color: #3f3fef;
  color: white;
  cursor: pointer;
}
#get-weather-btn:hover {
  background-color: #2424e9;
}

#weather-info {
  margin-bottom: 10px;
}
#weather-info h2 {
  margin-bottom: 7px;
}
p {
  margin-bottom: 5px;
}
.hidden {
  display: none;
}

#error-message {
  color: white;
  text-align: center;
}
