* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #05deed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background-color: #009dff;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0 10px 20px 0px rgba(134, 3, 117, 0.737);
}

.container h2 {
  margin-bottom: 35px;
  position: relative;
}

.container h2::after {
  content: " ";
  width: 67px;
  height: 3px;
  border-radius: 11px;
  background-color: #260699;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.container blockquote {
  font-size: 20px;
  min-height: 80px;
}

.container blockquote::before,
.container blockquote::after {
  content: '"';
}

.container span {
  display: block;
  float: right;
  position: relative;
}

.container span::before {
  content: " ";
  height: 2px;
  width: 15px;
  background-color: #260699;
  position: absolute;
  top: 50%;
  left: -30px;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #3737f1;
  color: white;
  cursor: pointer;
}

#new-quote:hover {
  background-color: rgb(9, 9, 173);
}

#tweet {
  background-color: white;
  color: black;
  border: 2px solid rgb(232, 229, 229);
  outline: none;
  margin-left: 3px;
  position: relative;
}

#tweet:hover {
  background-color: #716f6f;
  color: white;
  border: none;
}

img {
  height: 18px;
  width: 18px;
  text-align: center;
  position: absolute;
  top: 20%;
  right: 70%;
}
